@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$header-txt: #E5DADA;
$black: #02040F;
$bg-blue: #0A2039;
$hr-color: rgb(14, 47, 83);

@import "background.css";
@import "divider.scss";

:root, body{
  color: $header-txt;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
// Mobile
@media only screen and (max-width: 990px) {
  .welcome-text {
    margin: 0 auto -3% auto;
    font-size: 1.2em;
  }
  .section-title {
    font-size: 3em;
  }
  .card-group {
    padding-left: 10%;
  }
  .a-card + .a-card {
    padding-top: 10px;
  } 
  h3 {
    font-size: 1.5rem;
  }
  .edu {
    span {
      font-size: .9rem;
    }
  }
}

// Desktop
@media only screen and (min-width: 990px) {
  .welcome-text {
    font-size: 1.5em;
    margin: 0 auto -3% auto;
  }
  .section-title {
    font-size: 3em;
  }
  .a-card + .a-card {
    padding-left: 20px;
  }
  .card-group {
    margin: auto;
  }
  .new-sect {
    padding-top: 30%;
  }
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
  color: $header-txt;
}

.app-header {
  width: 0em;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 5rem;
  width: 100%;
  display: block;
  text-align: center;
  align-items: center;
  .welcome-text{
    height: 30%;
    width: 60%;
    padding: 0;
    text-align: left;
    font-family: 'Permanent Marker', cursive;
  // font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $header-txt;
  }
  h1 {
    margin: 0;
    font-size: 10vw;
    text-align: center;
  }
}
.sm-icon {
  text-align: center;
  font-size: 4rem;
}
.fab +.fab {
  padding-left: 1rem;
}
.center {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-slide-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.section-title {
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

hr.section-hr {
  width: 30%;
  border-top: 3px solid $hr-color;
  padding-bottom: 20px;
}

.card-text {
  overflow-y: scroll;
  height: 150px;
}
::-webkit-scrollbar {

  width: 10px;
}
::-webkit-scrollbar-track {
  background: $black; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $bg-blue; 
}
.card.bg-custom {
  background-color: $black;
}

.card.border-matching {
  border-color: $bg-blue;
  border-radius: 10px;
  border-width: 3px;
}
.card-group {
  width: 70%;
}

.card-title {
  font-family: 'Permanent Marker', cursive;
}

.edu {
  span {
    font-weight: 300; 
  }
  p {
    padding-top: 10px;
  }
  .row + .row{
    margin-top: 45px;
  }
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.navbar.sticky-bottom {
  margin-top: 20px;
}

.navbar > div {
  text-align: center;
}

.accordion .card {
  background-color: $black;
}


.btn-link:hover, .btn-link span {
  color: $header-txt;
  text-decoration: none;
}